.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.flipCard{
  padding: 10px;
  display: flex;
  width: 350px;
  height: 450px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.flipCard span {
  font-size: 21px;
  font-weight: bold;
}
.svg-class{
  filter: drop-shadow(0px 5px 3px rgb(212 72 51 / 0.4));
}
.svg-green{
  filter: drop-shadow(0px 5px 3px rgb(116 227 145 / 0.4));
}
.svg-warning{
  filter: drop-shadow(0px 5px 3px rgb(242 158 41 / 0.4));
}

.btn-back{
  cursor: pointer;
  color: rgba(106, 106, 106, 0.85);
  font-weight: bold;
  background: rgba(160, 231, 229, 0.5);
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(160, 231, 229, 1)
}

.btn-back:active{
  box-shadow: none;
}

.btn-next{
  cursor: pointer;
  color: rgba(106, 106, 106, 0.85);
  font-weight: bold;
  background: rgba(251, 231, 198, 0.5);
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(251, 231, 198, 1);
}
.btn-next:active{
  box-shadow: none;
}

.progressbar-container{
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressbar-container span {
  color: rgba(106, 106, 106, 0.85);
  font-weight: 700;
  font-size: 17px;
}